# -----------------------------------------------------------------------------
# SECURITY WARNING: DO NOT COMMIT .env FILE TO VERSION CONTROL SYSTEMS!
# Keep the .env file out of VCS as it contains sensitive information.
# Instead, use a `.env.template` file with placeholder values.
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# GENERAL
# ------------------------------------------------------------------------------
CURRENT_ENVIRONMENT=development
SECRET_KEY=
DEBUG=False
# Defines a list of users who will receive error notification emails.
# Format: name1,email1;name2,email2;
# Example: John Doe,john@example.com;Jane Smith,jane@example.com
ADMINS=
ALLOWED_HOSTS=localhost,127.0.0.1,terminologist.localhost
# Specifies the Python module that contains the URL configuration (URLconf).
# Can be used effectively for testing or development. For example,
# in config.urls_local, you can include additional debugging or testing urls
# that is only relevant for your needs.
ROOT_URLCONF=config.urls

# -----------------------------------------------------------------------------
# LOGGING
# -----------------------------------------------------------------------------
LOG_LEVEL_DEFAULT=ERROR
LOG_LEVEL_DJANGO=ERROR
LOG_LEVEL_APPS=WARNING
SEND_LOGS_TO_ADMINS=True
WRITE_LOGS_TO_FILE=True

# -----------------------------------------------------------------------------
# DEVELOPMENT, DEBUGGING, PROFILING
# -----------------------------------------------------------------------------
DEBUG_TOOLBAR_ENABLED=False
